<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Rock, Paper, Scissors</title>
</head>
<body>

<div class="container">

    <div class="container">

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Player 1</strong></div>
            <div class="col"><strong>Player 2</strong></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col">

                <select class="custom-select" id="player1">
                    <option value="ROCK">Rock</option>
                    <option value="PAPER">Paper</option>
                    <option value="SCISSORS">Scissors</option>
                </select>

            </div>


            <div class="col">
                <select class="custom-select" id="player2">
                    <option value="ROCK" selected>Rock</option>
                </select>

            </div>

        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col">
                <button type="button" class="btn btn-primary" id="playBtn">Play Round</button>

                <button type="button" class="btn btn-danger" id="restartBtn">Restart Game</button>
            </div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Rounds:</strong> <i id="rounds">0</i></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <table class="table" id="roundsTable">
                <thead>
                <tr>
                    <th scope="col">Player1 Choice</th>
                    <th scope="col">Player2 Choice</th>
                    <th scope="col">Result</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Total Rounds:</strong> <i id="totalRounds">0</i></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Total Wins 1st Player:</strong><i id="player1Wins">0</i></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Total Wins 2nd Player:</strong><i id="player2Wins">0</i></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Total Draws:</strong><i id="draws">0</i></div>
        </div>

    </div>

</div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script>

    let generateGameId = function () {
        return Math.floor((Math.random() * 1000000) + 1);
    };

    $(document).ready(function () {

        let gameId = generateGameId();

        $("#playBtn").click(function () {

            let choices = ["ROCK", "PAPER", "SCISSORS"]

            let randomNumber = Math.floor((Math.random() * 3));
            $("#player1").val(choices[randomNumber]);

            let player1Choice = $("#player1").val();
            let player2Choice = $("#player2").val();

            $.ajax({
                url: "play",
                type: "POST",
                data: JSON.stringify({gameId: gameId, player1Choice: player1Choice, player2Choice: player2Choice}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    // Update table
                    $('#roundsTable').append(
                        '<tr>'
                        + '<td>' + player1Choice + ' </td>'
                        + '<td>' + player2Choice + ' </td>'
                        + '<td>' + data.lastResult + '</td>'
                        + '</tr>');

                    // Update counts
                    $("#rounds").text(data.rounds);
                    $("#totalRounds").text(data.totalRounds);
                    $("#player1Wins").text(data.player1Wins);
                    $("#player2Wins").text(data.player2Wins);
                    $("#draws").text(data.draws);
                }
            });

        });

        $("#restartBtn").click(function () {
            // Clear table
            $("#roundsTable").find("tr:not(:first)").remove();

            // Reset round count
            $("#rounds").text(0);

            // Generate a new gameId
            gameId = generateGameId();
        });
    });

</script>

</body>
</html>