<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Rock, Paper, Scissors</title>
</head>
<body>

<div class="container">

    <div class="container">

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Player 1</strong></div>
            <div class="col"><strong>Player 2</strong></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col">

                <select class="custom-select" id="player1">
                    <option selected>Choose...</option>
                    <option value="ROCK">Rock</option>
                    <option value="PAPER">Paper</option>
                    <option value="SCISSORS">Scissors</option>
                </select>

            </div>


            <div class="col">
                <select class="custom-select" id="player2">
                    <option value="ROCK" selected>Rock</option>
                    <option value="PAPER">Paper</option>
                    <option value="SCISSORS">Scissors</option>
                </select>

            </div>

        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col">
                <button type="button" class="btn btn-primary" id="playBtn">Play</button>

                <button type="button" class="btn btn-danger" id="restartBtn">Restart Game</button>
            </div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Rounds:</strong> <i id="roundsCount">0</i></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <table class="table" id="roundsTable">
                <thead>
                <tr>
                    <th scope="col">Player1 Choice</th>
                    <th scope="col">Player2 Choice</th>
                    <th scope="col">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Total Rounds:</strong></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Total Wins 1st Player:</strong></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Total Wins 2nd Player:</strong></div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col"><strong>Total Draws:</strong></div>
        </div>

    </div>

</div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>

<script>

    let generateGameId = function () {
        return Math.floor((Math.random() * 1000000) + 1);
    };

    $(document).ready(function () {

        let gameId = generateGameId();

        $("#playBtn").click(function () {

        });

        $("#restartBtn").click(function () {
            // Clear table
            $("#roundsTable").find("tr:not(:first)").remove();

            // Reset round count
            $("#roundsCount").text(0)

            // Generate a new gameId
            gameId = generateGameId();
        });
    });

</script>

</body>
</html>